<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> B x M a r k | Your future is here.</title>
    <!-- Custom styles for this template -->
    <!-- Bootstrap, core, CSS -->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
        <%= stylesheet_link_tag href="http://fonts.googleapis.com/css?family=Lato:300,700" %>



  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <%= link_to 'B x M a r k', root_path, :class => 'navbar-brand' %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'About', about_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Services', services_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/BxMark-340742753003286/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/BXMarkX"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://bxmark.tumblr.com/"><i class="fa fa-tumblr" aria-hidden="true"></i></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://medium.com/@info_98055"><i class="fa fa-medium" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</footer>
<%= render 'layouts/footer' %>
<!-- ==========================
  FOOTER - END
=========================== -->

</div>
</html>
